@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Palette+Mosaic&display=swap");

#my {
  zoom: 110%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
}
.container {
  height: 100vh;
  width: 100%;
  background-image: url(images/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  /* padding-right: 5%; */
  padding-left: 3%;
  box-sizing: border-box;
  position: relative;
}
.navbar {
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 50px;
  color: #eda134;
  margin-top: 5px;
  font-family: "Palette Mosaic", cursive;
  text-transform: uppercase;
  cursor: pointer;
}
/* nav {
  flex: 1;
  padding-left: 660px;
} */
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 15px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

nav ul li a.dropDown {
  display: none;
}
.fas {
  color: black;
}
.content {
  /* position: relative; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}
h1 {
  font-family: "Lobster", cursive;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 100px;
  letter-spacing: 0.1em;
  font-size: 70px;
  color: #1b1b1b;
}
span {
  color: #eda134;
  font-size: 80px;
  font-weight: 800;
  font-family: "Lobster", cursive;
}
.text {
  position: relative;
  display: flex;
  align-items: center;
  /* padding-bottom: 20px; */
}
.btn {
  background-color: #eda134;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 15px 45px;
  border: none;
  outline: none;
  transition: 0.5s;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  display: block;
  border-radius: 30px;
  background-size: 200% auto;
  box-shadow: 3px 8px 22px rgba(22, 21, 21, 0.15);
}
.social-media {
  font-family: "Poppins", sans-serif;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 50px;
  text-decoration: none;
  font-size: 27px;
}
.icons {
  color: #eda134;
  padding: 12px 12px 10px 12px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 10px;
  height: 27px;
  width: 27px;
  text-align: center;
  box-shadow: 3px 8px 22px rgba(22, 21, 21, 0.15);
}
.icons:hover {
  transform: scale(1.1);
  color: #fff;
  background-color: #eda134;
  transition: all 0.5s;
}
.image {
  position: absolute;
  width: auto;
  bottom: 0;
  height: 60%;
  /* margin-left: 810px; */
  margin-left: 55%;
  margin-bottom: 120px;
}
.nameInside {
  background-color: #eda134;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  height: 13vh;
  /* height: 23vh; */
}

@media screen and (max-width: 1090px) {
  nav ul li a:not(last-child) {
    display: none;
  }
  nav ul li a.dropDown {
    /* float: right; */
    display: block;
    margin-right: 20px;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .dropDown {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive div {
    background-color: #e4e9a6b7;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 80px;
    /* margin-right: 50px; */
    padding: 20px;
    transition: 0.8s;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    /* display: flex;
    flex-direction: column; */
    color: #fff;
  }
  .image {
    height: 50%;
    margin-left: 10%;
    transition: 0.7s;
  }
  .content {
    position: relative;
    top: 450px;
    /* right: -53.5px; */
    background-image: url(images/bg.png);
    background-position: center;
    background-size: cover;
  }
  .btn,
  .social-media {
    margin-top: 60px;
  }
}

@media screen and (max-width: 451px) {
  nav ul li a.dropDown {
    display: block;
    margin-right: 0;
  }
  .topnav.responsive div {
    width: 100px;
  }
  .topnav.responsive a {
    color: #1b1b1b;
  }
  .image {
    position: absolute;
    top: 30vh;
    height: 30%;
  }
  .content {
    position: relative;
    top: 40vh;
  }
}
